.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background-image: url('/public/background-new.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Styles for mobile devices */
@media screen and (max-width: 600px) {
  .App-logo {
    height: 20vmin;
  }
  .App-header {
    min-height: 100vh;
    font-size: 16px;
  }
  .App-link {
    font-size: 14px;
  }
}

/* Styles for tablet devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .App-header {
    font-size: 20px;
  }
  .App-link {
    font-size: 18px;
  }
}

/* Styles for desktop devices */
@media screen and (min-width: 1025px) {
  .App-logo {
    height: 40vmin;
  }
  .App-header {
    font-size: 24px;
  }
  .App-link {
    font-size: 20px;
  }
}
